# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
INSTALL
Makefile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
debian/Makefile
doc/Makefile
doc/manpages/Makefile
examples/.deps/
examples/.libs/
examples/Makefile
examples/cartesian
examples/cartesian.o
examples/cleanup
examples/cleanup.o
examples/coarsen
examples/coarsen.o
examples/delaunay
examples/delaunay.o
examples/gtstoc
examples/gtstoc.o
examples/iso
examples/iso.o
examples/merge
examples/merge.o
examples/oocs
examples/oocs.o
examples/optimize
examples/optimize.o
examples/partition
examples/partition.o
examples/refine
examples/refine.o
examples/set
examples/set.o
examples/setobj
examples/setobj.o
examples/smooth
examples/smooth.o
examples/sphere
examples/sphere.o
examples/split
examples/split.o
examples/stripe
examples/stripe.o
examples/transform
examples/transform.o
examples/traverse
examples/traverse.o
examples/volume
examples/volume.o
gtk-doc.make
gts.pc
install/
libtool
ltmain.sh
src/.deps/
src/.libs/
src/Makefile
src/bbtree.lo
src/bbtree.o
src/boolean.lo
src/boolean.o
src/cdt.lo
src/cdt.o
src/container.lo
src/container.o
src/curvature.lo
src/curvature.o
src/edge.lo
src/edge.o
src/eheap.lo
src/eheap.o
src/exception.lo
src/exception.o
src/face.lo
src/face.o
src/fifo.lo
src/fifo.o
src/graph.lo
src/graph.o
src/gts-config
src/gtsconfig.h
src/heap.lo
src/heap.o
src/hsurface.lo
src/hsurface.o
src/iso.lo
src/iso.o
src/isotetra.lo
src/isotetra.o
src/kdtree.lo
src/kdtree.o
src/libgts.la
src/matrix.lo
src/matrix.o
src/misc.lo
src/misc.o
src/named.lo
src/named.o
src/object.lo
src/object.o
src/oocs.lo
src/oocs.o
src/partition.lo
src/partition.o
src/pgraph.lo
src/pgraph.o
src/point.lo
src/point.o
src/predicates.lo
src/predicates.o
src/predicates_init
src/predicates_init.h
src/psurface.lo
src/psurface.o
src/refine.lo
src/refine.o
src/segment.lo
src/segment.o
src/split.lo
src/split.o
src/stripe.lo
src/stripe.o
src/surface.lo
src/surface.o
src/triangle.lo
src/triangle.o
src/tribox3.lo
src/tribox3.o
src/vertex.lo
src/vertex.o
src/vopt.lo
src/vopt.o
stamp-h1
temp
test-driver
test/Makefile
test/boolean/.deps/
test/boolean/Makefile
test/boolean/test.sh
test/coarsen/.deps/
test/coarsen/Makefile
test/delaunay/.deps/
test/delaunay/Makefile
tools/.deps/
tools/.libs/
tools/Makefile
tools/gts2dxf
tools/gts2dxf.o
tools/gts2obj
tools/gts2obj.o
tools/gts2oogl
tools/gts2oogl.o
tools/gts2stl
tools/gts2stl.o
tools/gtscheck
tools/gtscheck.o
tools/gtscompare
tools/gtscompare.o
tools/stl2gts
tools/stl2gts.o
